.container {
	background-color: #254fa1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	min-height: 100vh;
	width: 100vw;
}

.header {
	background-color: #deec41;
	color: black;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 100%;
	padding: 1rem 0;

	font-weight: bold;
}

.main {
	width: 100%;
}

.headerSchedules {
	color: black;
	background-color: #deec41;

	display: flex;
	align-items: center;
	justify-content: center;

	margin-bottom: 1rem;
	padding: 0.5rem 0;

	width: 100%;
}

.containerColumns {
	display: flex;
	justify-content: space-around;

	width: 100%;
}

.column {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.textColumn {
	text-align: center;
}

.footer {
	background-color: #deec41;
	color: black;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 100%;
	padding: 1rem 0;
}

@media (max-width: 768px) {
	.main {
		max-width: 100%;
	}
}
