.container {
	background-image: url('https://w.forfun.com/fetch/cc/ccc72c3f5a6538621df47c75419bec5b.jpeg');
	background-repeat: no-repeat, repeat;
	background-position: center;
	background-size: cover;
}

.overlay {
	background-color: rgba(0, 0, 0, 0.7);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	min-height: 100vh;
	width: 100vw;
}

.header {
	background-color: rgba(37, 79, 161, 0.7);
	color: white;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 100%;
	padding: 0.6rem 0;

	font-weight: bold;
}

.main {
	background-color: rgba(0, 0, 0, 0.7);
	color: white;

	width: 45%;
}

.headerSchedules {
	color: black;
	background-color: rgba(222, 236, 65, 0.9);

	display: flex;
	align-items: center;
	justify-content: center;

	margin-bottom: 1rem;
	padding: 0.5rem 0;

	width: 100%;
}

.select {
	background-color: #deec;
	color: black;

	margin-left: 0.5rem;
}

.containerColumns {
	display: flex;
	justify-content: space-around;

	width: 100%;
}

.column {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.textColumn {
	text-align: center;
	color: white;
}

.rowList {
	color: white;
	font-weight: bold;
	margin: 0.5rem;
}

.footer {
	background-color: rgba(37, 79, 161, 0.7);
	color: white;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	padding: 0.6rem 0;
}

.footerContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	margin-left: 0.8rem;
}

@media (max-width: 768px) {
	.main {
		width: 100%;
	}
}
